.InfoPrincipal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff url("../../assets/casal-pb.jpg") no-repeat right top
    scroll;
  background-size: 100%;

  .informacoes {
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    color: var(--foreground-sec);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1,
    .tamTitulo {
      // font-size: 64px !important;
      font-size: 88px !important;
    }
    h1 {
      padding-top: 100px;
    }
    span {
      // font-size: 44px;
      font-size: 64px;
    }
    .data {
      margin-top: 45px;
    }
    .contagem {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      margin-top: 6px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 500px) {
    background-size: auto 100%;
    background-position: 37% 0;

    .informacoes {
      h1,
      .tamTitulo {
        font-size: 56px !important;
      }
      span {
        font-size: 36px !important;
      }
    }
  }
}
