.Presentear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 50px;
  h2 {
    font-size: 48px;
    font-weight: 400;
  }
  span {
    padding: 14px 92px;
    font-size: 28px;
    font-weight: 400;
  }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 42px;
    }
    span {
      padding: 14px 72px;
    }
  }
}
