.InfoPresente {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;

  h2 {
    margin-bottom: 12px;
  }
}

.FormField {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
