.InfoPrincipal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff url("../../assets/casal-pb.jpg") no-repeat right top
    scroll;
  background-size: 100%;

  .informacoes {
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    color: var(--foreground-sec);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1,
    .tamTitulo {
      // font-size: 64px !important;
      font-size: 88px !important;
    }
    h1 {
      padding-top: 100px;
    }
    span {
      // font-size: 44px;
      font-size: 64px;
    }
    .data {
      margin-top: 45px;
    }
    .contagem {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      margin-top: 6px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 500px) {
    background-size: auto 100%;
    background-position: 37% 0;

    .informacoes {
      h1,
      .tamTitulo {
        font-size: 56px !important;
      }
      span {
        font-size: 36px !important;
      }
    }
  }
}

.Local {
  background-color: var(--cor-secundaria);
  section {
    display: flex;
    height: 415px;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground-sec);

    div {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 56px;
      }
      span {
        font-size: 32px;
      }
    }

    img {
      border-radius: 25px;
    }
  }

  @media screen and (max-width: 500px) {
    section {
      height: unset;
      padding: 44px 0;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 50px;

      div {
        h2 {
          font-size: 48px;
        }
        span {
          font-size: 28px;
        }
      }

      img {
        width: 340px !important;
        height: auto !important;
      }
    }
  }
}

.Presentear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 50px;
  h2 {
    font-size: 48px;
    font-weight: 400;
  }
  span {
    padding: 14px 92px;
    font-size: 28px;
    font-weight: 400;
  }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 42px;
    }
    span {
      padding: 14px 72px;
    }
  }
}

.InfoPIX {
  background-color: var(--cor-secundaria);
  height: 721px;
  display: flex;
  align-items: center;

  section {
    height: 364px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    color: var(--foreground);
    background-color: var(--foreground-sec);

    div {
      width: 240px;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 32px;
      }
      span {
        font-size: 24px;
      }
    }
    .fotoCasal2 {
      width: 403px;
      height: 403px;
      border-radius: 100%;
      background-color: var(--foreground-sec);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 6px 2px #0000003f;
    }
    .chave {
      align-items: center;
      gap: 20px;
    }
  }

  @media only screen and (max-width: 1080px) {
    section {
      padding: 0 28px;
      height: 265px;

      div {
        width: 215px;
        h3 {
          font-size: 28px;
        }
        span {
          font-size: 22px;
        }
      }
      .fotoCasal2 {
        width: 280px;
        height: 280px;
        img {
          width: 260px !important;
          height: 260px !important;
        }
      }
      .chave {
        img {
          width: 140px !important;
          height: 140px !important;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    height: unset;

    section {
      height: unset;
      border-radius: 0;
      padding: 44px 0;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 50px;

      div {
        width: 300px;
        h3 {
          font-size: 32px;
          margin-bottom: 24px;
        }
        span {
          font-size: 24px;
        }
      }

      .fotoCasal2 {
        box-shadow: 1px 1px 6px 2px #0000003f;
      }
      .chave {
        img {
          width: 240px !important;
          height: 240px !important;
        }
      }
    }
  }
}

.Duvidas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  h2 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  a {
    cursor: pointer;
    transition: filter 0.4s;
    span {
      padding: 14px 92px;
      font-size: 42px;
      font-weight: 400;
      padding: 5px 25px;
      border-radius: 10px;
      background-color: var(--cor-secundaria);
      color: var(--foreground-sec);
    }
    &:hover {
      filter: brightness(1.1);
    }
  }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 42px;
    }
    span {
      padding: 14px 72px;
    }
  }
}
