.Duvidas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  h2 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  a {
    cursor: pointer;
    transition: filter 0.4s;
    span {
      padding: 14px 92px;
      font-size: 42px;
      font-weight: 400;
      padding: 5px 25px;
      border-radius: 10px;
      background-color: var(--cor-secundaria);
      color: var(--foreground-sec);
    }
    &:hover {
      filter: brightness(1.1);
    }
  }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 42px;
    }
    span {
      padding: 14px 72px;
    }
  }
}
