.InfoPIX {
  background-color: var(--cor-secundaria);
  height: 721px;
  display: flex;
  align-items: center;

  section {
    height: 364px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    color: var(--foreground);
    background-color: var(--foreground-sec);

    div {
      width: 240px;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 32px;
      }
      span {
        font-size: 24px;
      }
    }
    .fotoCasal2 {
      width: 403px;
      height: 403px;
      border-radius: 100%;
      background-color: var(--foreground-sec);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 2px 6px 2px #0000003f;
    }
    .chave {
      align-items: center;
      gap: 20px;
    }
  }

  @media only screen and (max-width: 1080px) {
    section {
      padding: 0 28px;
      height: 265px;

      div {
        width: 215px;
        h3 {
          font-size: 28px;
        }
        span {
          font-size: 22px;
        }
      }
      .fotoCasal2 {
        width: 280px;
        height: 280px;
        img {
          width: 260px !important;
          height: 260px !important;
        }
      }
      .chave {
        img {
          width: 140px !important;
          height: 140px !important;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    height: unset;

    section {
      height: unset;
      border-radius: 0;
      padding: 44px 0;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 50px;

      div {
        width: 300px;
        h3 {
          font-size: 32px;
          margin-bottom: 24px;
        }
        span {
          font-size: 24px;
        }
      }

      .fotoCasal2 {
        box-shadow: 1px 1px 6px 2px #0000003f;
      }
      .chave {
        img {
          width: 240px !important;
          height: 240px !important;
        }
      }
    }
  }
}
