.ListaPresentes {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 46px;
  justify-content: center;

  &.emLista {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  @media only screen and (max-width: 1080px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 800px) {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
